/* Container of messages */
.publicChatMessages {
  width: var(--width);
  height: calc(var(--height) - 8rem);
  max-width: var(--root-max-width);
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  /* message div container*/
  .messageSend {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin-top: 10px;

    .message {
      max-width: calc(var(--width) / 1.5);
      background-color: #33ff0053;
      border-radius: 10px 10px 10px 0px;
      display: flex;
      padding: 0.5rem 1.5rem;
      flex-direction: column;

      /* From https://css.glass */
      box-shadow: 0 4px 30px #0000001a;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid #ffffff4d;
    }

    div {
      .messageTime {
        width: max-content;
        color: #333 !important;
        font-size: 0.7rem;
        border: none;
      }
      .userName {
        padding: 0 0.5rem;
      }
    }
  }
  /* messages recived */
  #messageRecived {
    justify-content: right;
    align-items: flex-end;

    .userName {
      order: 2;
    }

    .message {
      border-radius: 10px 10px 0px 10px;
      background-color: #0044ff53;
      span {
        color: var(--text-color);
      }
    }
  }
}
