.containerLogin {
    border: 1px solid red;
    width: var(--root-width);
    max-width: var(--root-max-width);
    height: var(--root-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
}

.containerLogin .links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerLogin .links div {
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

.containerLogin .links div a {
    text-decoration: none;
    color: var(--root-text);
}
.containerLogin .links div a svg{
    margin-right: 5px;
}

.containerLogin .links div:first-child {
    border: 1px solid red;
}

.containerLogin .links div:last-child {
    border: 1px solid green;
}