.containerLoginEmail{
    border: 1px solid red;
    width: var(--root-width);
     max-width: var(--root-max-width);
    height: calc(var(--root-height) + var(--root-height-header));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
}

.containerLoginEmail .logo{
    width: 50%;
    height: 20%;
}
.containerLoginEmail .logo img{
    width: 100%;
    height: 100%;
}

.containerLoginEmail form{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerLoginEmail form input, .containerLoginEmail form label{
    font-size: 1.2rem;
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border: 1px solid rebeccapurple;
}
.containerLoginEmail form input:focus{
    outline: none;
}

.containerLoginEmail form label{
    margin-top: 30px;
}

.containerLoginEmail form button{
    margin-top: 5%;
    padding: 10px 30px;
    border: 1px solid goldenrod;
}