.registerContainer {
  max-width: var(--width);
  height: var(--height);
  position: relative;
  padding: 2rem 1rem 1rem;

  .logo {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  .formContainer {
    width: 100%;
    height: fit-content;
    border-radius: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
      width: 60px;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      input {
        width: 70%;
        padding: 0.5rem;
        background-color: transparent;
        border-radius: 1rem;
        border: 1px solid #f8f8f8;

        &:focus {
          outline: none;
        }
        &::-webkit-input-placeholder {
          color: var(--text-color);
        }
      }

      button {
        border-radius: 1rem;
        border: 1px solid #f8f8f8;
        background-color: #41414173;
        color: #f8f8f8;
        padding: 8px 30px;

        &:hover {
          scale: 1.05;
          cursor: pointer;
          text-shadow: 0 0 3px #ff2bed;
        }
      }

      .error {
        color: #ff0000c4;
        padding: 5px;
      }
    }
  }
}
