@import '../../variables.module.css';

.containerRegister{
    border: 1px solid red;
    width: var(--root-width);
    height: var(--root-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.containerRegister .logoRegister{
    width: 40%;
    height: 15%;
    padding-top: 10%;
}
.containerRegister .logoRegister img{
    width: 100%;
    height: 100%;
}

.containerRegister form{
    border: 1px solid red;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.containerRegister form label, .containerRegister form input{
    border-bottom: 1px solid rebeccapurple;
    width: 80%;
    height: 8%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 1.2rem;
}
.containerRegister form input:focus{
    outline: none;
}
.containerRegister form label{
    margin-top: 20px;
}

.containerRegister form button{
    margin-top: 20px;
    border: 1px solid gold;
}