.containerPublicChat {
  width: 100%;
  min-width: var(--min-width);
  height: var(--height);
  display: flex;
  align-items: flex-end;
  position: relative;

  .publicChatContainer {
    width: 100%;
    height: calc(var(--height) - var(--height-header));
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    padding-bottom: 1rem;
  }
}
