.containerPublicChat {
    width: var(--root-width);
    max-width: var(--root-max-width);
    height: var(--root-height);
    position: relative;
    border: 1px solid #a200ff;
    display: flex;
    align-items: flex-end;
}

.publicChatContainer {
    width: var(--root-width);
    max-width: var(--root-max-width);
    height: calc(var(--root-height) - var(--root-height-header));
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

/* box messages and button send */
.publicChatFunctions {
    width: var(--root-width);
    max-width: var(--root-max-width);
    height: auto;
    display: flex;
    flex-direction: row;
}

.publicChatFunctions form {
    width: 100%;
    height: 100%;
    display: flex;
}

.publicChatFunctions form textarea,
.publicChatFunctions form button {
    width: 100%;
    padding-top: 5px;
    resize: none;
    font-size: .8rem;
    text-align: center;
}

.publicChatFunctions textarea:focus {
    outline: none;
}

.publicChatFunctions form button {
    width: 20%;
    color: #52ff02;
}

.publicChatFunctions form textarea,
.publicChatFunctions form button:disabled {
    opacity: .5;
    color: thistle;
}