/* container guest input name */
.userNameContainer {
    width: 80%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userNameContainer input {
    padding: 5px 10px;
    border: none;
    background-color: inherit;
    color: var(--root-text);
    border-bottom: 1px solid #a200ff;
}

.userNameContainer input:focus {
    outline: none;
}

.userNameContainer form button {
    padding: 5px 15px;
    background-color: inherit;
    border: 1px solid #a200ff;
    border-radius: 10px;
    margin: 0 10px;
    color: var(--root-text);
}

.userNameContainer label {
    padding-top: 10px;
    color: #fbff02e0;
}