/* box messages and button send */
.publicChatFunctions {
  width: 100%;
  height: var(--height-sendform);
  display: flex;
  justify-content: center;
  flex-direction: row;

  form {
    width: 80%;
    height: 100%;
    display: flex;
    gap: 0.5rem;

    textarea::-webkit-scrollbar {
      display: none;
    }

    textarea,
    button {
      width: 100%;
      padding: 5px 15px;
      resize: none;
      font-size: 0.8rem;
      text-align: center;
      background-color: #d3d3d39d;
      border: none;
      font-size: medium;
      border-radius: 2rem;
    }

    textarea {
      font-size: 0.8rem;
      height: 2.3rem;
      text-align: start;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        color: var(--text-color);
      }
    }
    button {
      width: 20%;
      height: 2.3rem;
      font-weight: bolder;
      cursor: pointer;
      color: #fff;
      transition: 0.4s;

      &:hover {
        background-color: #00ff00;
      }
    }

    textarea:disabled,
    button:disabled {
      opacity: 0.5;
    }
  }
}
