.containerHome {
    width: var(--root-width);
    max-width: var(--root-max-width);
    height: var(--root-height);
    border: 1px solid rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.containerHome .homeSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(var(--root-height) - var(--root-height-header));
}

.containerHome .homeSection a {
    padding: 5px 15px;
    position: absolute;
    right: 40px;
    top: 100px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #65b7ff65;
    color: var(--root-text);
}

.containerHome .homeSection a:hover {
    background-color: yellow;
}


/* profile section */
.containerHome .homeSection .picture {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.containerHome .homeSection .picture p {
    font-size: 1.3rem;
    font-weight: bold;
}

/* profile image */
.containerHome .homeSection .picture img {
    border-radius: 50%;
    width: 40%;
    height: 85%;
    padding-bottom: 10px;
}

/* about */
.containerHome .about{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.containerHome .about p{
    padding: 10px 20px;
    text-align: center;
}


/* add friends section */
.containerHome .homeSection .addFriends {
    width: 80%;
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
    border-top: 1px solid #808080a9;
    border-bottom: 1px solid #808080a9;
}

.containerHome .homeSection .addFriends p {
    padding-left: 10px;
}


/* friends section */
.containerHome .friends {
    width: 100%;
    height: auto;
    overflow-y: scroll;
}
.containerHome .friends::-webkit-scrollbar {
    display: none;
}

.containerHome .friends .title {
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px #fbff19a9;
}

.containerHome .friends ul {
    padding: 0 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerHome .friends ul li {
    border-top: 1px solid #7e797983;
    list-style-type: none;
    width: 80%;
    padding: 10px;
    display: flex;
}

.containerHome .friends ul li img {
    width: 50px;
    border-radius: 50%;
}

.containerHome .friends ul li div {
    padding: 0 10px;
    text-align: center;
}

.containerHome .friends ul li div span {
    padding: 5px 20px;
    display: block;
    text-align: start;
    font-size: 1.2rem;
    font-weight: bold;
}