/*  main user container  */
.containerUser {
  width: var(--width);
  height: var(--height);
  position: relative;
  display: flex;
  align-items: flex-end;
  /*  message if there is not user logged */
  h5 {
    width: calc(var(--width) / 1.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
  }

  .userContent {
    width: var(--width);
    height: calc(var(--height) - var(--height-header));
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      width: 100%;
      padding: 5px 1.5rem;
      font-size: 1rem;
      text-align: start;
    }

    /* header  */
    .header {
      width: var(--width);
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      h1 {
        color: white;
        text-transform: capitalize;
      }
    }
  }
}
