.containerHeader {
    width: var(--root-width); 
    max-width: var(--root-max-width);
    height: var(--root-height-header);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.containerHeader div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: var(--root-color);
}

.containerHeader div span {
    font-size: .8rem;
}
.containerHeader div svg {
    font-size: 1.6rem;
}

.containerHeader a{
    text-decoration: none;
}

.containerHeader a:first-child {
    margin-left: 20px;
}

.containerHeader a:last-child {
    position: absolute;
    right: 20px;
}

.containerHeader a:hover {
    border-bottom: 1px solid rgb(48, 238, 0);
}