.containerProfileConfig {
  max-width: var(--width);
  height: var(--height);
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: var(--height-header);

  .sectionProfileConfig {
    max-width: var(--width);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .userImage {
      margin: 0.5rem 0 1rem;
      width: 50%;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 50%;
        width: 100%;
        height: 85%;
        object-fit: fill;
      }

      input {
        background-color: transparent;
        font-style: italic;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .userData {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      padding: 0.5rem 1rem;
      gap: 1rem;

      div {
        flex-direction: row;
        justify-content: space-between;
        label {
          font-weight: 600;
        }

        input {
          background-color: inherit;
          border: none;
          width: max-content;
          padding: 2px;
          font-size: 0.8rem;
          border-bottom: 1px solid var(--text-color);
          margin-left: 0.5rem;
          color: var(--text-color);

          &:focus {
            outline: none;
          }
        }
      }
      .about {
        padding: 1rem 0;

        display: flex;
        align-items: flex-start;

        textarea {
          margin-left: 10px;
          width: max-content;
          resize: none;
          outline: none;
          text-align: center;
          padding: 4px;
          background-color: inherit;
          color: inherit;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      .button {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
          padding: 10px 20px;
          background-color: inherit;
          border: 1px solid #fad400a6;
          border-radius: 10px;
          color: #fff;

          &:hover {
            transition-duration: 1s;
            background-color: #fad400a6;
          }
        }
      }
    }
  }
}
