.containerPersonalChat {
  width: var(--root-width);
  max-width: var(--root-max-width);
  height: var(--root-height);
  display: flex;
  align-items: flex-end;
  border: 1px solid olive;
  position: relative;
}
/* profile image and name */
.containerPersonalChat .profileImg {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 15%;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.containerPersonalChat .profileImg img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.containerPersonalChat .profileImg label {
  padding-left: 15px;
}

/* chat container */
.chatContainer {
  width: var(--root-width);
  max-width: var(--root-max-width);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}

 .chatContainer .chat{
  width: 100%;
  height: auto;
} 
