.containerPersonalChat {
  width: var(--width);
  min-width: var(--min-width);
  height: var(--height);
  display: flex;
  align-items: flex-end;
  position: relative;

  /* profile image and name */
  .profileImg {
    position: absolute;
    top: 0.5rem;
    left: 15%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    label {
      padding-left: 15px;
    }
  }

  /* chat container */
  .chatContainer {
    width: var(--width);
    height: calc(var(--height) - 4rem);
    max-width: var(--root-max-width);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    .chat {
      width: 100%;
      height: 100%;
    }
  }
}
