@import "./css/variables.module.css";

:root,
::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

#root {
  width: var(--width);

  background: hsla(36, 75%, 41%, 1);

  background: radial-gradient(
    circle,
    hsla(36, 75%, 41%, 1) 4%,
    hsla(0, 0%, 16%, 1) 76%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(36, 75%, 41%, 1) 4%,
    hsla(0, 0%, 16%, 1) 76%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(36, 75%, 41%, 1) 4%,
    hsla(0, 0%, 16%, 1) 76%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B8791A", endColorstr="#292929", GradientType=1 );
}
